<div class="header">
    <i class="heartbeat icon" ></i>
    <h2 class="title">Serviços de Saúde</h2>
</div>
<div class="content">
    <div class="content-header">
       <h3>O IASET oferece, todos os meses, os seguintes benefícios para sua saúde:</h3>
    </div>
    <div class="content-item">
        <i class="user md icon"></i>
        <div class="text">
            <h4>Uma consulta gratuita com clínico geral</h4>
            <p>Uma avaliação médica para esclarecer dúvidas, diagnosticar possíveis problemas e indicar tratamentos ou exames necessários.</p>
        </div>
       <p></p>
    </div>
    <div class="content-item">
        <i class="stethoscope icon"></i>
        <div class="text">
            <h4>Exames de rotina</h4>
            <p>Manter sua saúde em dia é essencial. Por isso, o IASET disponibiliza exames fundamentais para um check-up completo:</p>
            <ul>
                <li><b>Hemograma</b> – Analisa os componentes do sangue, ajudando a identificar infecções, anemias e outros problemas.</li>
                <li><b>Glicose</b>  – Mede o nível de açúcar no sangue, auxiliando no diagnóstico e controle do diabetes.</li>
                <li><b>Urina</b> – Avalia a função dos rins e detecta possíveis infecções urinárias ou outras alterações.</li>
                <li><b>Fezes</b> – Identifica problemas digestivos, infecções e até mesmo a presença de parasitas.</li>
            </ul>
        </div>
    </div>
</div>