<h2 class="title">
    Beneficios
</h2>

<div class="menu">
    <div class="menu-item" routerLink="/saude" routerLinkActive="active">
        <i class="heartbeat icon" ></i>
        <p>
            Saúde
        </p>
    </div>
    <div class="menu-item" routerLink="/esporte" routerLinkActive="active">
        <i class="futbol icon"></i>
        <p>
            Esporte e Lazer
        </p>
    </div>
    <div class="menu-item" routerLink="/convenios" routerLinkActive="active">
        <i class="handshake icon"></i>
        <p>
            Convênios
        </p>
    </div>
    
</div>
<div class="ui inverted divider"></div>
<h2 class="title data">Dados</h2>
<div class="menu">
    <div class="menu-item" routerLink="/card" routerLinkActive="active">
        <i class="address card icon"></i>
        <p>
            Meu Cartão
        </p>
    </div>
    <div class="menu-item" routerLink="/dependente" routerLinkActive="active">
        <i class="users icon"></i>
        <p>
            Dependente
        </p>
    </div>
    <div class="menu-item" routerLink="/lista-dependentes" routerLinkActive="active">
        <i class="list alternate icon"></i>
        <p style="font-size: 11px;">
            Seus Depedentes
        </p>
    </div>
</div>