<div class="header">
    <i class="futbol icon"></i>
    <h2 class="title">Esporte e Lazer</h2>
</div>
<div class="content">
    <div class="content-header">
        <h3>A área de lazer da IASET oferece diversas opções para entretenimento e prática esportiva, proporcionando
            momentos de diversão e bem-estar para toda a família.</h3>
    </div>
    <div class="content-item">
        <mat-icon>pool</mat-icon>
        <div class="text">
            <h4>Piscina para lazer</h4>
            <p>Uma piscina ampla e bem cuidada, ideal para momentos de descanso, lazer e diversão com a família e
                amigos. Perfeita para refrescar-se nos dias quentes e aproveitar momentos relaxantes.
            </p>
        </div>
        <p></p>
    </div>
    <div class="content-item">
        <i class="futbol outline icon"></i>
        <div class="text">
            <h4>Campo de futebol</h4>
            <p>Campo espaçoso e bem estruturado, ideal para jogos amistosos, treinos e competições. Com gramado
                adequado, proporciona uma experiência agradável para jogadores de todas as idades.
            </p>
        </div>
        <p></p>
    </div>
    <div class="content-item">
        <i class="volleyball ball icon"></i>
        <div class="text">
            <h4>Quadra poliesportiva
            </h4>
            <p>Espaço versátil, adaptado para diversas modalidades esportivas, incluindo basquete, handebol, futsal e
                vôlei. Perfeito para quem gosta de esportes em equipe e busca um ambiente para treinar e se divertir.

            </p>
        </div>
        <p></p>
    </div>
</div>