<section>
    @if(listDependents$ | async; as dependentes){
    <table class="ui inverted blue table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Relação</th>
                <th class="right aligned"></th>
            </tr>
        </thead>
       
        <tbody>
            @for (dependente of dependentes ; track dependente.id ) {
                <tr>
                    <td>{{dependente.name}}</td>
                    <td>{{dependente.relationship == 'filho'? 'Filho(a)':'Cônjuge'}}</td>
                    @if(dependente.status){
                        <td class="right aligned">
                            <button class="ui icon button primary" [routerLink]="['/dependente', dependente.id]">
                                <i class="edit icon"></i>
                                Editar
                              </button>
                            <button class="ui icon button primary" (click)="deleteDependent(dependente.id, dependente.name)">
                                <i class="trash icon"></i>
                                Deletar
                              </button>
                        </td>
                    } @else {
                     <td class="right aligned waiting">Aguardando aprovação...</td>
                    }
                    
                    
                </tr>

            } @empty {
                <tr >
                    <td class="center aligned">
                        <h2 class="empty">Sem dependentes cadastrados</h2>
                    </td>
                </tr>
            }
            
        </tbody>
        

    </table>
    }
</section>