<div class="header">
    <i class="users icon"></i>
    <h2 class="title">Convênios e Parcerias</h2>
</div>
<div class="content">
    <div class="content-header">
        <h3>O IASET firmou parcerias com diversas empresas e clínicas para oferecer descontos e condições especiais aos
            associados.</h3>
    </div>
  
    <div class="content-item">

        <div class="text">
            <h4>Confira a lista de convênios:</h4>
            <ul>
                <li>ABS Quiosque</li>
                <li>Clínica Endocárdio /Dr Elielson Sobrinho - Cardiologista</li>
                <li>Clínica IMIMI</li>
                <li>Clínica Aliança</li>
                <li>Consultório Dr. Arthur Oliveira</li>
                <li>Distribuidora Rita de Cássia</li>
                <li>Espaço Sentir</li>
                <li>Gás Brasil</li>
                <li>Invictus Academia - Centro de Treinamento</li>
                <li>Loja Calce Bem</li>
                <li>Paranhos Beach Tennis</li>
                <li>Restaurante Panela Velha</li>
                <li>Salão de Beleza Di’ Vitória</li>
                <li>Super Líder</li>
                <li>Ótica Primavera</li>
            </ul>
        </div>
    </div>
</div>

